@media screen and (max-width: 1023px){
    
}


@media screen and (max-width: 991px){
    .logo_mobile{
        display: block;
    }
    .icon__bar{
        display: block;
    }
    .menu{
        display: inline;
        visibility: hidden;
    }
}


@media screen and (max-width: 575px){

}