// color group
$color__01: #c52d1c;
$color__02: #ed423c;
$color__03: #efeaea;
$color__04: #fff;
$color__05: #e5d35b;
$text_color_01: #2c2e35;
$text_color_02: #BCB8B7;
$text_color_03: #fff;

// font family
$font__01: 'Dancing Script', cursive;
$font__02: 'Roboto', sans-serif;

//box-shadow
$box_shadow_full: 2px 2px 4px #ed423c, -2px -2px 4px #ed423c;
$box_shadow_bottom: 2px 2px 4px #ed423c;



